@{
    ViewData["Title"] = "New Balance";
}


<header>
    <h1>Scarpe New Balance</h1>
</header>

<nav>
    <ul>
        <li><button onclick="window.location.href='Jordan'">Jordan</button></li>
        <li><button onclick="window.location.href='NewBalance'">New Balance</button></li>
        <li><button onclick="window.location.href='Nike'">Nike</button></li>

    </ul>
</nav>

<div class="container">
    <div class="product">
        <h2>New Balance 550 Blu</h2>
        <div class="product-content">
            <img src="/newbalance/newbalanca550blu.jpg" alt="New Balance 550 Blu">
            <p><span style="color:rgb(3, 15, 76);">Le New Balance 550 Blu sono un'icona di stile e comfort.
                    Con una tomaia in pelle di alta qualità e dettagli in bianco,
                    queste sneaker offrono un look fresco e contemporaneo,
                    ideale per ogni occasione.</span></p>
        </div>
        <p><strong>Prezzo: $120.00</strong></p>
        <form method="post" action="/Home/AddToCart">
            <input type="hidden" name="Articolo" value="New Balance 550 Blu">
            <input type="hidden" name="Prezzo" value="120.00">
            <input type="hidden" name="Immagine" value="/newbalance/newbalanca550blu.jpg">
            <button type="submit">Aggiungi al Carrello</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="product">
        <h2>New Balance 480</h2>
        <div class="product-content">
            <img src="/newbalance/newbalance480.webp" alt="New Balance 480">
            <p><span style="color:rgb(3, 15, 76);">Le New Balance 480 sono la scelta perfetta per gli amanti dello stile
                    semplice ma sofisticato. Caratterizzate da una tomaia in mesh traspirante
                    e dettagli in nero, queste sneaker garantiscono comfort e versatilità.</span></p>
        </div>
        <p><strong>Prezzo: $110.00</strong></p>
        <form method="post" action="/Home/AddToCart">
            <input type="hidden" name="Articolo" value="New Balance 480">
            <input type="hidden" name="Prezzo" value="110.00">
            <input type="hidden" name="Immagine" value="/newbalance/newbalance480.webp">
            <button type="submit">Aggiungi al Carrello</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="product">
        <h2>New Balance 650 Blu</h2>
        <div class="product-content">
            <img src="/newbalance/newbalance650blu.webp" alt="New Balance 650 Blu">
            <p><span style="color:rgb(3, 15, 76);">Le New Balance 650 Blu combinano stile e comfort in modo impeccabile.
                    Con una tomaia in mesh traspirante e dettagli in blu scuro,
                    queste sneaker sono perfette per un look casual ma sofisticato.</span></p>
        </div>
        <p><strong>Prezzo: $130.00</strong></p>
        <form method="post" action="/Home/AddToCart">
            <input type="hidden" name="Articolo" value="New Balance 650 Blu">
            <input type="hidden" name="Prezzo" value="130.00">
            <input type="hidden" name="Immagine" value="/newbalance/newbalance650blu.webp">
            <button type="submit">Aggiungi al Carrello</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="product">
        <h2>New Balance 650 Rosse</h2>
        <div class="product-content">
            <img src="/newbalance/newbalance650rosse.webp" alt="New Balance 650 Rosse">
            <p><span style="color:rgb(3, 15, 76);">Le New Balance 650 Rosse sono un'alternativa audace e dinamica
                    per gli amanti dello stile sportivo. Con una tomaia in mesh traspirante
                    e dettagli in rosso brillante, queste sneaker sono un vero e proprio statement di moda.</span></p>
        </div>
        <p><strong>Prezzo: $130.00</strong></p>
        <form method="post" action="/Home/AddToCart">
            <input type="hidden" name="Articolo" value="New Balance 650 Rosse">
            <input type="hidden" name="Prezzo" value="130.00">
            <input type="hidden" name="Immagine" value="/newbalance/newbalance650rosse.webp">
            <button type="submit">Aggiungi al Carrello</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="product">
        <h2>New Balance 650 Verdi</h2>
        <div class="product-content">
            <img src="/newbalance/newbalance650verdi.webp" alt="New Balance 650 Verdi">
            <p><span style="color:rgb(3, 15, 76);">Le New Balance 650 Verdi sono un omaggio alla natura e alla
                    freschezza.
                    Con una tomaia in mesh traspirante e dettagli in verde smeraldo,
                    queste sneaker aggiungeranno un tocco di eleganza e originalità al tuo guardaroba.</span></p>
        </div>
        <p><strong>Prezzo: $130.00</strong></p>
        <form method="post" action="/Home/AddToCart">
            <input type="hidden" name="Articolo" value="New Balance 650 Verdi">
            <input type="hidden" name="Prezzo" value="130.00">
            <input type="hidden" name="Immagine" value="/newbalance/newbalance650verdi.webp">
            <button type="submit">Aggiungi al Carrello</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="product">
        <h2>New Balance 550 Rosse</h2>
        <div class="product-content">
            <img src="/newbalance/newbalance550rosse.webp" alt="New Balance 550 Rosse">
            <p><span style="color:rgb(3, 15, 76);">Le New Balance 550 Rosse sono un'esplosione di energia e stile.
                    Con una tomaia in pelle rossa vibrante e dettagli in bianco,
                    queste sneaker aggiungeranno un tocco di vivacità al tuo look quotidiano.</span></p>
        </div>
        <p><strong>Prezzo: $120.00</strong></p>
        <form method="post" action="/Home/AddToCart">
            <input type="hidden" name="Articolo" value="New Balance 550 Rosse">
            <input type="hidden" name="Prezzo" value="120.00">
            <input type="hidden" name="Immagine" value="/newbalance/newbalance550rosse.webp">
            <button type="submit">Aggiungi al Carrello</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="product">
        <h2>New Balance 550 Verdi</h2>
        <div class="product-content">
            <img src="/newbalance/newbalance550verdi.webp" alt="New Balance 550 Verdi">
            <p><span style="color:rgb(3, 15, 76);">Le New Balance 550 Verdi sono ispirate ai colori della natura
                    e della freschezza. Con una tomaia in pelle verde e dettagli in bianco,
                    queste sneaker sono l'accessorio perfetto per un look dinamico e alla moda.</span></p>
        </div>
        <p><strong>Prezzo: $120.00</strong></p>
        <form method="post" action="/Home/AddToCart">
            <input type="hidden" name="Articolo" value="New Balance 550 Verdi">
            <input type="hidden" name="Prezzo" value="120.00">
            <input type="hidden" name="Immagine" value="/newbalance/newbalance550verdi.webp">
            <button type="submit">Aggiungi al Carrello</button>
        </form>
    </div>
</div>
